<section>
  <mat-toolbar color="primary" class="mat-elevation-z5">
    <span>Appname</span>
  </mat-toolbar>
</section>

<section fxLayoutAlign="space-around center">
  <form [formGroup]="validateForm">
    <mat-card class="feature-card">
      <mat-card-header fxLayoutAlign="space-around center">
        <mat-card-subtitle>Please enter the value to validate</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content fxLayoutAlign="space-around center">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Input</mat-label>
            <input matInput formControlName="inputValue" required placeholder="number">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-error *ngIf="!validateForm.hasError('required')">Input is required</mat-error>
            <mat-hint>Please enter a numeric value.</mat-hint>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center center">
        <button mat-raised-button color="primary" [disabled]="validateForm.invalid" (click)="validateIsPrime()">submit</button>
        <button mat-raised-button color="warn"  (click)="clear()">cancel</button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>


<router-outlet></router-outlet>