<section>
    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
        <!-- <mat-icon id="error_outline_icon" ng-show="result">sentiment_very_satisfied</mat-icon>
        <mat-icon id="error_outline_icon" ng-show="!result">sentiment_very_dissatisfied</mat-icon> -->
        <h2 matDialogTitle>{{message}}</h2>
      </div>
      <mat-dialog-content>
      </mat-dialog-content>
      <mat-dialog-actions align="end">
        <button mat-raised-button matDialogClose="confirm" color="warn">OK</button>
      </mat-dialog-actions>
</section>