#error_outline_icon {
    font-size: xx-large !important;
    color: red;
}

.signin-btn .mat-button.mat-accent, .mat-icon-button.mat-accent, .mat-stroked-button.mat-accent {
    color: #fff !important;
    background: #2387aa !important;
}
.mat-dialog-container {
    background: #424242;
}